.git
.gitea
.github

.env
.env.*
!.env.example

certs/
imports/
arquivos_csv/
arquivos_csv.tar.gz
writable/
vendor/

docker-compose*.yml
docker-compose*.yaml
compose*.yml
compose*.yaml

README.md
*.log
.DS_Store
