CI_ENVIRONMENT=development
APP_STAGE=development
app.baseURL="https://localhost:8443/"

database.default.hostname=192.168.0.51
database.default.database=rvscope
database.default.username=rvscope
database.default.password=SUBSTITUA_A_SENHA
database.default.DBDriver=Postgre
database.default.port=5432
database.default.charset=UTF8

security.adminUser=SUBSTITUA_O_USUARIO_DO_GATE
security.adminPassword=SUBSTITUA_A_SENHA_DO_GATE
security.bootstrapAdminUser=SUBSTITUA_O_ADMIN_INICIAL
security.bootstrapAdminPassword=SUBSTITUA_A_SENHA_DO_ADMIN_INICIAL
security.bootstrapAdminName="Administrador inicial"
security.importToken=SUBSTITUA_POR_TOKEN_ALEATORIO_DE_PELO_MENOS_32_CARACTERES
security.settingsEncryptionKey=SUBSTITUA_POR_CHAVE_ALEATORIA_DE_PELO_MENOS_32_CARACTERES
